<%- include('partials/header',{title: 'Drinks Details'}) %>
<div class="drink-detail">
  <h1><%= drink.name %></h1>

  <% if (wiki.image) { %>
  <img src="<%= wiki.image %>" alt="<%= drink.name %>" width="200" />
  <% } %>

  <h2>History & Description</h2>
  <p><%= wiki.summary %></p>

  <% if (wiki.wikipediaUrl) { %>
  <p>
    <a href="<%= wiki.wikipediaUrl %>" target="_blank"
      >Read more on Wikipedia</a
    >
  </p>
  <% } %> <% if (drink.description) { %>
  <hr />
  <h3>Our Notes:</h3>
  <p><%= drink.description %></p>
  <% } %>
</div>
<%- include('partials/footer') %>
