<%- include('partials/header',{title: 'HOME'}) %>
<div class="main-container">
  <h1>Good Day, <%= username %></h1>

  <div class="bestSeller">
    <p>Best seller to be added</p>
    <a href="#">More info</a>
  </div>

  <div class="week">
    <h2>This week's recommendations <a href="#" class="see-all">See all</a></h2>

    <div class="content-wrapper">
      <div class="random-drink">
        <p><strong><%= randomDrink.name %></strong></p>
        <p><%= randomDrink.description %></p>
        <p><strong>€<%= randomDrink.price %></strong></p>
      </div>

      <div class="random-tagline">
        <em><%= randomTagline %></em>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
